.footer {
  width: 100%;

  //padding: 5px 5px 5px 5px;
  height: 100px;
  right: 0;
  left: 0;
  background: #002d3f ;
  //margin-left: 200px;


}
.footercontent{
  margin-left: 700px;
  margin-bottom: 0px;

}
